html{
	font-size: 21px;
	overflow: hidden;
	background-color: #ededed;
}
#containerSESEME{ position: absolute; left:0; top:0; width:100%;}

.info{
	color: black;
	position: absolute;
	z-index: 2; opacity: 1;
	left: 0; right: 0; margin: 0 auto;
	transform-origin: 10% 0%;
}
#top{
	top: 0; padding: 0.5rem 0.75rem 0.5rem 0.75rem;
	text-align: center; font-family: 'Fira Sans',sans-serif; font-weight: 600;
	font-size: 0.8rem; letter-spacing: 0.08rem;
}
.title{
	padding: 0 .75rem; font-family: 'Fira Sans', sans-serif;
	z-index: 3;
}
#part_title{
		font-family: 'Fira Sans', serif;
		font-weight: 600; text-transform: uppercase;
		font-size: 1rem; letter-spacing: 0.2rem;
		transform-origin: 10% 50%;
		-webkit-transform-origin: 10% 50%;
		-moz-transform-origin: 10% 50%;
	}
.text{
	padding: 1.5rem .75rem .75rem .75rem;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400; font-size: 0.65rem; text-align: justify;
}
#points_info{
	padding: 1.2rem 0 0 0;
	opacity: 0; position: absolute;
}
.point .text {
	padding: 1.8rem .75rem .3rem .75rem; opacity: 0;
}
.point .title {
	font-size: 1.3rem; font-family: 'Source Serif Pro'; letter-spacing: 0.04rem;
	font-weight: 400; opacity: 0;
}

#whitebox {
	position: absolute; z-index: 1;
	width: 100%; bottom: 0; left: 0;
	height: 30px; transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	background-image: linear-gradient(rgba(237,237,237,0),
	rgba(237,237,237,0.7) 20%, rgba(244,244,244,0.8) 60%, rgba(255,255,255,1) 100%);
}

#collapser{
	border: 1px solid black; border-radius: 50%;
	width: 2rem; height: 2rem; position: absolute;
	z-index: 3;
}
