html{
	font-size: 21px;
	overflow: hidden;
	background-color: #ededed;
}
#containerSESEME{ position: absolute; left:0; top:0; width:100%;}

.info{
	color: black;
	position: absolute; overflow: hidden;
	z-index: 2; opacity: 1;
	left: 0; right: 0; margin: 0 auto;
}
#top{
	top: 0; padding: 0.5rem 0.75rem 0.5rem 0.75rem;
	text-align: center; font-family: 'Fira Sans',sans-serif; font-weight: 600;
	font-size: 0.8rem; letter-spacing: 0.08rem;
}

	.title{
		padding: 0 .75rem;
		font-family: 'Fira Sans', sans-serif;

	}
		#part_title{
			font-family: 'Fira Sans', serif;
			font-weight: 600; text-transform: uppercase;
			font-size: 1rem; letter-spacing: 0.2rem;
		}
		#part_text{
		}
	.text{
		padding: 1.4rem .75rem .75rem .75rem;
		font-family: 'Fira Sans', sans-serif;
		font-weight: 400;
		font-size: 0.65rem;
		text-align: justify;
	}

#point_title{
	display: none;
}
