html{
	font-size: 21px;
	overflow: hidden;
	background-color: #ededed;
}
#containerSESEME{ position: absolute; left:0; top:0; width:100%;}

.info{
	/*background-color: black;*/
	color: black;
	position: absolute;
	z-index: 2;
	left: 0; right: 0; margin: 0 auto;
}
#top{ 
	top: 0; padding: 0.5rem 0.75rem 0.5rem 0.75rem;
	text-align: center; font-family: 'Fira Sans',sans-serif; font-weight: 600;
	font-size: 0.8rem; letter-spacing: 0.08rem;

}
#bottom{
	background-image: linear-gradient(rgba(255,255,255,0.15), rgba(255,255,255,0.7) 20%, rgba(255,255,255,0.9) 60%);
	padding: 0.6rem 0.75rem 0.6rem 0.75rem;
	bottom: 0;
}
	#header{
		font-family: 'Source Serif Pro', serif;
		font-weight: 500;
		font-size: 1.4rem;
	}
	#main{
		margin-top: 0.2rem;
		font-family: 'Fira Sans', sans-serif;
		font-weight: 400;
		font-size: 0.65rem;
		text-align: justify;
	}