@font-face{
	font-family: 'Fira Sans';
	src: url('assets/fonts/fira-lt.ttf');
	font-weight: 300;
}
@font-face{
	font-family: 'Fira Sans';
	src: url('assets/fonts/fira-med.ttf');
	font-weight: 500;
}
@font-face{
	font-family: 'Source Serif Pro';
	src: url('assets/fonts/source-reg.ttf');
	font-weight: 400;
}

html{
	font-size: 21px;
	overflow: hidden;
}
#containerSESEME{
	position: absolute;
	left:0;
	top:0;
	width:100%;
}

#source{
	font-family: 'Source Serif Pro', serif;
	font-size: 1px;
}
#sans{
	font-family: 'Fira Sans', sans-serif;
	font-size: 1px;
}