html {
	overflow: hidden;
	background-color: grey;
	font-size: 24px;
}

.label {
	font-family: 'Fira Sans', sans-serif;
}

.spelled {
	font-family: 'Source Serif Pro', serif;
}

#topInfo{
	font-family: 'Fira Sans', sans-serif;
	letter-spacing: 0.13rem;
	color: white;	
	position: absolute;
	text-align: center;
	width: 420px;
	margin-top: -1rem;
}

#topInfo span{
	font-weight: 300;
}

#uiNav /* holds fixed UI nav at bottom */ {
	position: fixed;
	bottom: 2rem;
	z-index: 3;
	width: 100%;
}

#uiBody { /*holds dynamic UI data/content */
	position: absolute;
	z-index: 2;
	width: 100%;
	bottom: 8%;
	font-family: 'Source Serif Pro', serif;
	letter-spacing: 0.03rem;
	color: white;
}

#uiBodyTitle {
	text-align: center;
	font-weight: 600;
}


.navbutt {

}

#viewnav {
	background-color: yellow;
}
#talknav {
	background-color: green;
}
#datanav {
	background-color: blue;
}
#helpnav {
	background-color: violet;
}


section{
	display: none;
	overflow: hidden;
	height: 0;
}
section#view .columns, section#view .column {
	
}

#viewNum{ font-weight: 300; text-align: right; margin-top: -0.2rem;}
#viewUnit{ font-weight: 300; padding-left: 0.1em; letter-spacing: 0.05em;
line-height: 1.3em;}
#optButton{ border: 1px white solid; line-height: 1.25em; height: 55px;}
#assessment{height: 55px; border: 1px white solid;}

section#data td {
	background-color: blue;
	padding: 0.5em;
}

section#talk {
}

section#talk .column, section#talk .columns{
	background-color: green;
	height: 100%;
}

#stickerSelect {
}
section#talk input{
	width: 100%;

	padding: 0.25em;
	padding-left: 0.35em;
	color: black;
	letter-spacing: 0;
}

section#talk ul {
	padding-left: 0;
	list-style-type: none;
}

#convTimes {
	text-align: right;
}

#stickerLabel {
	border: 1px rgba(255,0,0,0) solid;
}
#stickerLabel th{
	width: 120px;
}

#stickerDrawer{
	height: 0;
	overflow: hidden;
}

#stickerDrawer tr{
	display: none;
}
thead, tr, #stickerDrawer table, #stickerLabel table{
	width: 100%;
}
#stickerLabel th, #stickerLabel td{
	
	text-align: left;
	letter-spacing: 0.1em;
	padding: 0.5em;
	border: 1px white solid;
}

table#stickers {

}

#stickers td {
	text-align: center;
	width: 25%;
	height: 90px;
	border: 1px white solid;
}


#conversate {
	overflow: hidden;
}

#voteDiv {
}

#voteDiv div {
	background-color: green;
	text-align: center;
	display: none;
}

#switchVote {
	float: right;
}

#switchConv {
	display: none;
}

#containerSESEME {
}




.container {
	width: 100%;
	max-width: 460px;
	margin: 0 auto;
	padding: 0 20px;
 	box-sizing: border-box;
}

.column,
.columns {
	margin-left: 4%;
	width: 100%;
	float: left;
	box-sizing: border-box;
}
.columns:first-child{
	margin-left:0;
}

.varLength {
	float: left;
}

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  h6{ font-size: 1.1rem; }
  h1{ margin: 0; font-size: 2.6rem;}
  h2{ margin: 0; font-size: 2.1rem;}

/*@media (min-width: x px) {

}*/